<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="name">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="name">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <input type="submit" value="Update"/>
</form>


</body>
</html>